*{
  margin: 0;
  padding: 0;
}

main {
  color: red;
}
p {
  color: green;
}

.header{
  display: flex;
}
.footer{
  display: grid;
}


.child{
  text-align: center;
}


footer{
  flex-direction: column;
}